<a href="https://colab.research.google.com/github/bharath097/2216113_AIML_BOOTCAMP_GRAD-STELLAR/blob/main/GRAD_STELLAR_AIML_BOOTCAMP_DAY1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Implement the methods of String with examples.

In [ ]:
#creating and printing a string
str="bharathchandra"
print(str)
print("\n")
#string operations

#capitalize
a=str.capitalize()
print(a)
print("\n")
str2="pYtHON"

#casefold
b=str2.casefold()
print(b)
print("\n")

#count
str3 = "Mercedes have premium cars,Mercedes make awesome engines"
str3.count("Mercedes")

#index
str4="MErcedes"
c = str4.index("r")
print(c)
print("\n")

#upper
d=str4.upper()
print(d)
print("\n")

#lower
e=str4.lower()
print(e)
print("\n")

#swapcase
f=str4.swapcase()
print(f)
print("\n")

#string reverse
a1="bootccamp"
b1=a1[::-1]
print(b1)
print("\n")

a2="python"[::-1]
print(a2)
print("\n")

#using function
def strrev(a3): 
  return a3[::-1]
b3=strrev("Mercedes Benz")
print(b3)

bharathchandra


Bharathchandra


python


2


MERCEDES


mercedes


meRCEDES


pmacctoob


nohtyp


zneB sedecreM

 2.Implement the methods of List with examples.

In [14]:
#list operations
#create
alist=[5,2,0,9,7]
blist=['l','e','x','u','s']
clist=['d','r','a','g','o','n']

#indexing
print(alist[4])
print(blist[2])
print(clist[1])
print("\n")
#slicing
print(blist[3:5])
print("\n")
#nested list 
mlist=["gle",[1.2,1.5,2,5],['a','b','c'],8]
print(mlist[0][2])
print(mlist[1][2])
print(mlist[2][1])
print(mlist[3])
print("\n")

my_list = ['a','b','c','d','e']

# last item
print(my_list[-1])

# third last item
print(my_list[-3])


my_list = ['t','o','y','o','t','a','s','u','p','r','a']

# elements from index 1 to index 3
print(my_list[2:5])
print("\n")
# elements from index 4 to end
print(my_list[4:])
print("\n")
# elements beginning to end
print(my_list[:])
print("\n")
#append
oddo = [5, 7, 9]

oddo.append(11)

print(oddo)
print("\n")
oddo.extend([11, 13, 15])

print(oddo)
print("\n")
eng = ['turbo', 'nline', 'vtec']

print(eng + ['crdi','tcdi'])
print("\n")
print(["NA"] * 5)
print("\n")
eng.insert(3,4)

print(eng)
print("\n")
my_list = ['n', 'b', 'h', 'a', 'r', 'a', 't','h']

# delete one item
del my_list[2]

print(my_list)
print("\n")
# delete multiple items
del my_list[1:5]

print(my_list)
print("\n")
# delete the entire list
del my_list

my_list = ['c','h','e','v','y']
my_list.remove('v')


print(my_list)
print("\n")
print(my_list.pop(1))
print("\n")

print(my_list)
print("\n")

print(my_list.pop())
print("\n")

print(my_list)
print("\n")
my_list.clear()
print(my_list)
print("\n")

7
x
r


['u', 's']


e
2
b
8


e
c
['y', 'o', 't']


['t', 'a', 's', 'u', 'p', 'r', 'a']


['t', 'o', 'y', 'o', 't', 'a', 's', 'u', 'p', 'r', 'a']


[5, 7, 9, 11]


[5, 7, 9, 11, 11, 13, 15]


['turbo', 'nline', 'vtec', 'crdi', 'tcdi']


['NA', 'NA', 'NA', 'NA', 'NA']


['turbo', 'nline', 'vtec', 4]


['n', 'b', 'a', 'r', 'a', 't', 'h']


['n', 't', 'h']


['c', 'h', 'e', 'y']


h


['c', 'e', 'y']


y


['c', 'e']


[]

3.Implement the methods of Tuple with examples.

In [24]:
a_tuple = ()
print(a_tuple)
print("\n")

a_tuple = (1, 2, 3)
print(a_tuple)

print("\n")
a_tuple = ("a", "v","e","o",1.2)
print(a_tuple)
print("\n")

a_tuple = ("uva","p", [1,9], (4, 6, 76),9,0)
print(a_tuple)
print("\n")
print("\n")
print(a_tuple[0])
print("\n")
print(a_tuple[3])
print("\n")
print(a_tuple[2])

print(a_tuple[-1])

print(a_tuple[-6])

print(a_tuple.count('p'))  

print(a_tuple.index('uva'))

del a_tuple

()


(1, 2, 3)


('a', 'v', 'e', 'o', 1.2)


('uva', 'p', [1, 9], (4, 6, 76), 9, 0)




uva


(4, 6, 76)


[1, 9]
0
uva
1
0

4.Implement the methods of Dictionary with examples.

In [26]:
my_dict = {'transmission': 'dc', 'shifts': 5,'fuel':'p'}


print(my_dict['transmission'])


print(my_dict.get('shifts'))


print(my_dict.get('fuel'))

dc
5
p

In [27]:
# Changing and adding Dictionary Elements
my_dict = {'transmission': 'dc', 'shifts': 5,'fuel':'p'}

my_dict['fuel'] = 'd'

print(my_dict)


my_dict['transmission'] = 'cvt'


print(my_dict)

{'transmission': 'dc', 'shifts': 5, 'fuel': 'd'}
{'transmission': 'cvt', 'shifts': 5, 'fuel': 'd'}

In [29]:
dict={'name':'bharath','branch':'CSE(AIML)','year':2,'address':'wgl','college':'SR'}
print(dict['name'])
print(dict.keys())
print(dict.values())
print(dict.get('name'))
#add iteam
dict['firstname']='n' 
print(dict)
dict['college']='SRU' #update value
print(dict)
dict.pop('address') #remove particular item
print(dict)
dict.popitem() #remove an item from last
print(dict)
dict.clear() # clear enter dict
print(dict)

bharath
dict_keys(['name', 'branch', 'year', 'address', 'college'])
dict_values(['bharath', 'CSE(AIML)', 2, 'wgl', 'SR'])
bharath
{'name': 'bharath', 'branch': 'CSE(AIML)', 'year': 2, 'address': 'wgl', 'college': 'SR', 'firstname': 'n'}
{'name': 'bharath', 'branch': 'CSE(AIML)', 'year': 2, 'address': 'wgl', 'college': 'SRU', 'firstname': 'n'}
{'name': 'bharath', 'branch': 'CSE(AIML)', 'year': 2, 'college': 'SRU', 'firstname': 'n'}
{'name': 'bharath', 'branch': 'CSE(AIML)', 'year': 2, 'college': 'SRU'}
{}

In [32]:
set1={2,0,3,5,2,0,9,7}
set2={8,4,10,6,11,12,13,15}

set1.add(99)
print(set1)

set1.update([12,13,14])
print(set1)

set1.discard(14)
print(set1)

set1.remove(0)
print(set1)

set1.copy()
print(set1)

set1.difference()
print(set1)

print(set1)

#union
print(set1.union(set2))

#intersection
print(set1.intersection(set2))

#difference
print(set1-set2)
print(set2-set1)
set1.pop()
print(set1)

{0, 2, 3, 99, 5, 7, 9}
{0, 2, 3, 99, 5, 7, 9, 12, 13, 14}
{0, 2, 3, 99, 5, 7, 9, 12, 13}
{2, 3, 99, 5, 7, 9, 12, 13}
{2, 3, 99, 5, 7, 9, 12, 13}
{2, 3, 99, 5, 7, 9, 12, 13}
{2, 3, 99, 5, 7, 9, 12, 13}
{2, 3, 99, 5, 4, 7, 6, 9, 8, 10, 12, 13, 11, 15}
{12, 13}
{2, 99, 3, 5, 7, 9}
{4, 6, 8, 10, 11, 15}
{3, 99, 5, 7, 9, 12, 13}

6.Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method

In [37]:
print(bin(97))
print(oct(97))
print(hex(97))

0b1100001
0o141
0x61

7.Implement Arithmetic operators with examples.

In [38]:
A=90
B=3

print(A+B)

print(A-B)

print(A*B)

print(A/B)

print(A%B)

print(A**B)

print(A//B)

93
87
270
30.0
0
729000
30

8.Implement Assignment operators with examples.

In [41]:
n=97
b=86

c=n+b
print(c)

c+=n
print(c)

c-=n
print(c)

c*=n
print(c)

c/=n
print(c)

c=2
c%=n
print(c)

c**=n
print(c)

c//=n
print(c)

183
280
183
17751
183.0
2
158456325028528675187087900672
1633570361118852321516370110

9.Implement Comparison operators with examples.

In [42]:
a=97
b=86
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

10.Implement Logical operators with examples

In [43]:
a=1
b=0
print(a and b)
print(a or b)
print(not a)
print(not b)

0
1
False
True

11.Implement Bitwise operators with examples

In [44]:
a=97
b=86
print(a&b)
print(a^b)
print(a|b)
print(~a)
print(a>>2)
print(a<<2)

64
55
119
-98
24
388

12.Implement Membership operators with examples

In [48]:
n=[2,0,9,7]
b={'aveo',1,2,5,'uva'}
print(9 in n)
print('hi' in b)
print(100 in n)
print('b' not in b)

True
False
False
True

13.Implement Identity operators with examples

In [49]:
n=9
b=7
x='i'
y='c'
print(n is b)
print(n is not b)
print(x is y)
print(x is not y)

False
True
False
True

14.demonstrate Negative indexing for List and apply slicing

In [52]:
list=[77,9,5,4,6,8.5,100]
print(list[-1])
print(list[-4])
print(list[-5:-1])
print(list[-6::])
print(list[::-1])
print(list[::])
print(list[-7::5])

100
4
[5, 4, 6, 8.5]
[9, 5, 4, 6, 8.5, 100]
[100, 8.5, 6, 4, 5, 9, 77]
[77, 9, 5, 4, 6, 8.5, 100]
[77, 8.5]

15.Predict the output for the given code snippet and justify the result.

In [53]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
#[::-1] reverse the whole string and [4::3] reads the string from index 4 and indexjump to the value 3
print("-------------------------")
print('Welcome to python training program'[3:10][::-1])
#[3:10] it starts from 3index and stops at 10index  [::-1]the it will reverse the string

taawkcbe  tgestrcoeeA
-------------------------
ot emoc

16.Write a python code to get desired output Input string:p_phrase="was it a car or a cat I saw" Output string: WAS I TAC A RO RAC A TI SAW.

In [54]:
p_phrase="was it a car or a cat I saw"
str=p_phrase.upper()
print(str[::-1])

WAS I TAC A RO RAC A TI SAW

17.You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. Input X= 2 Output ZZOOOO Input X= 5 Output ZZZZZOOOOOOOOOO

In [59]:
x=int(input("Enter x value"))
y=2*x
print('x=',x)
print('y=',y)
print('Z'*x,'O'*y,sep='')

Enter x value5
x= 5
y= 10
ZZZZZOOOOOOOOOO